<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>생코보드</title>

        <!-- bootstrap css -->
        <link href="http://ckrack.github.io/fbootstrapp/bootstrap.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-twipsy.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js') }}"></script>
    
    </head>
   {% block body %}
   {% endblock %}
</html>

